
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Bienvenido a tu red preferida para compartir tus packs</h2>
</div>
<div>
    <p>
        Aqui podras compartir tus pack con tus amigos intimos
    </p>
</div>

