
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>Bienvenido a tu red preferida, donde puedes compartir con tus amigos</h2>
</div>
<body>
    <img src="~/images/Index.jpg" width="1000" height="600" />
</body>

