@model ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Restablecer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/Restablecer.css" rel="stylesheet" />

<body class="text-center">
    <form asp-action="Restablecer" method="post" class="form-signin card">

        <div asp-validation-summary="None" class="text-danger">
            @Html.ValidationMessage("UserExist")
        </div>

        <h4 class="text-left">Restablecer contraseña</h4>
        <div class="dropdown-divider"></div>

        <label>Porfavor entrar tu usuario para restablecer tu contraseña</label>
        <input asp-for="NombreUsuario" class="form-control" placeholder="Usuario">
        <span asp-validation-for="NombreUsuario" class="text-danger"></span>

        <div class="card-footer">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Restablecer</button>
        </div>

    </form>
</body>

